@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Tenali+Ramakrishna&family=Ysabeau+Office:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.8px;
    line-height: 1.8rem;
}

p,a,option,span{
    font-family: Ysabeau Office,sans-serif;
    font-size: 1.14rem;
}
a{
    font-weight: 600;
}
h1,h2,h3,h4,h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Night mode styles */
.dark-color{
    background-color: #2a2929;
    color: white;
}
.light-color{
    color: white;
}

body{
    background-color: rgba(173, 216, 230, 0.03);
}
header h3 i{
    font-size: 3.5rem;
}
.header-container{
    width: 100%;
    z-index: 10000;
    top: 0;
    position: fixed;
    background-color:  rgb(250, 252, 253);
}
nav a,.footer-nav a{
    padding: 0.4rem 1rem;
    margin: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    transition: 0.6s;
}
.active{
    color: #258;
}
nav a:hover{
    transform: translateY(-10px);
}
.nav-bar-icon{
    position: fixed;
    left: -10rem;
}
.close-nav{
    display: none;
}

/* Home Styles */
.home-main-container{
    height: 100vh;
}
.home-left-side-text{
    width: 43%;
}
.typing{
    margin-left: 10rem;
    width: 30%;
    padding-right: 0.6rem;
    text-align: center;
    border-right: 2px solid black;
    overflow: hidden;
    animation: typing 4s infinite steps(6);
}
.home-social-icons i , .footer-social-icons i{
    font-size: 1.8rem;
    margin: 0rem 0.8rem 0.8rem 0.8rem;
    color: rgba(0, 0, 255, 0.69);
}
.home-social-icons i:hover{
    transition: 0.5s;
    transform: translateY(-6px);
}
.home-pic-container{
    width: 28rem;
}
.know-more-btn{
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(62, 150, 62);
    padding: 0.1rem 0.6rem;
}



/* Skills Styles */
.skills-main-container{
    margin-top: 10rem;
}
.dummy-div{
    width: 100%;
}
.front-end-skills {
    padding: 1rem;
    width: 50%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.front-end-skills span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 4px;
}
.front-end-skills span img{
    width: 1.4rem;
}


/* Project Styles */
.project-main-container{
    margin-top: 4rem;
}
.tech-container{
    width: 15rem;
    margin: 1rem auto;
}
.tech-select{
    outline: none;
    width: 15rem;
    padding: 0.1rem 0.3rem;
}
.cards-container{
    margin: 0rem 0rem;
}
.cards-container .card{
    transition: 0.6s;
    width: 20rem;
    height: 25rem;
    padding: 1.1rem;
    border: 1px solid black;
}
.cards-container .card:hover{
    scale: 1.1;
    box-shadow: 0px 0px 3px blue;
}
.share-icon i{
    position: absolute;
    top: 8.5rem;
    left: 8rem;
    background-color: lightblue;
    padding: 1rem;
    border-radius: 50%;
}
.card-text-container{
    height: 10rem;
}
.tech-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.tech-list span{
    padding: 0.2rem 0.4rem;
    margin: 0.4rem;
    border-radius: 4px;
    font-weight: 500;
    background-color: orange;
}
.btn-container button{
    background: transparent;
    border: none;
    outline: none;
}
.project-view-main-container{
    margin-top: 7rem;
}
.back-to-project-btn{
    text-decoration: none;
    background-color: rgb(50, 93, 135);
    color: white;
    padding: 0.4rem 0.6rem;
    border-radius: 4px;
    margin: 4rem 1rem;
}
.images-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}
.images-container img{
    width: 40%;
    margin: 1rem;
    border-radius: 4px;
    box-shadow: 0px 0px 5px black;
}
.project-view-container-sub-img{
    flex-wrap: wrap;
    width: 50%;
    margin: 2rem 1rem;

}
.project-view-container-sub img{
    width: 100%;
    box-shadow: 0px 0px 5px black;
    border-radius: 4px;
}
.project-content-links{
    width: 30%;
    text-wrap: wrap;
}
.project-view-tech-list span{
    font-weight: 500;
    background-color: lightblue;
    color: black;
    padding: 0.2rem 0.4rem;
    margin: 0.2rem;
    border-radius: 4px;
}

/* About Styles */
.about-main-container{
    margin-top: 8rem;
}
.about-content{
    width: 80%;
}
.thank-you{
    font-family: Satisfy , 'verdena';
    color: #258;
}
.name{
    font-family: Satisfy , 'verdena';
    color: rgb(255, 94, 94);
}
.education-main-container{
    margin: 2rem 0rem;
}
.edu-btech,.edu-diploma,.edu-ssc{
    line-height: 2rem;
    width: 23rem;
    height: 31rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 4px;
    transition: 0.6s;
}
.edu-btech:hover,.edu-diploma:hover,.edu-ssc:hover{
    scale: 1.05;
}
.edu-diploma img,.edu-btech img,.edu-ssc img{
    margin-bottom: 1rem;
    width: 100%;
}
.certificate-card{
    width: 24rem;
}
.certificate-card img{
    border-radius: 4px;
    border: 2px solid chocolate;
}

/* Achievement Styles */
.achivement-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.achieve-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 3rem;
    width: 13rem;
    height: 13rem;
    padding: 0.5rem;
    text-align: center;
}


/* Contact Details Styles */
.conatct-details-box {
    margin-top: 1.3rem;
}
.conatct-details-box i{
font-size: 1.2rem;
}

.conatct-details-box p a{
    color: black;
    text-decoration: none;
}
.conatct-details-box p a:hover{
    text-decoration: underline;
    color: #258;
}
/* Resume Styles */
.resume-container{
    margin-top: 7rem;
}
.resume-pic{
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 0px 0px 6px seagreen;
    margin: 1rem auto;
}
.resume-btn{
    outline: none;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    margin: 1rem;
}

/* Top Button Styles */
.top-button{
    position: fixed;
    right: 1.4rem;
    bottom: 1.4rem;
    padding: 0.2rem 0.4em;
    background-color: orange;
    color: black;
    border-radius: 4px;
    box-shadow: 0px 0px 4px black;
}







@keyframes typing {
    0%{
        width: 0%;
    }
    10%{
        width: 8%;
    }
    20%{
        width: 16%;
    }
    30%{
        width: 24%;
    }
    40%{
        width:32%;
    }
    50%{
        width: 38%;
    }
    60%{
        width: 32%;
    }
    70%{
        width: 24%;
    }
    80%{
        width: 16%;
    }
    90%{
        width: 8%;
    }
    100%{
        width: 0%;
    }
}

/* Footer Styles */
footer{
    padding: 1.4rem 0.4rem;
    background-color: lightblue;
}
.copy-right{
    line-height: 2rem;
}

@media screen and (min-width:300px) and (max-width:800px){
    .header-container{
        background-color: aliceblue;
    }
    nav{
        transition: 0.6s;
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100vw;
        background-color: beige;
        scale: 0;
        padding-top: 2.4rem;
    }
    nav a,.footer-nav a{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    .nav-bar-icon{
        font-size: 2.2rem;
        top: 1rem;
        left: 84%;
    }
    .close-nav{
        font-size: 2rem;
        display: block;
        position: fixed;
        right: 2rem;
        top: 1rem;
    }
    .home-main-container{
        margin-top: 13rem;
        margin-bottom: 12rem;
        flex-direction: column;
    }
    .home-left-side-text{
        width: 90%;
    }
    .home-pic-container{
        width: 100%;
    }
    .typing{
        font-size: 1rem;
        margin: 1rem auto ;
        width: 100%;
        padding-right: 0.6rem;
    }
    .front-end-skills{
        width: 98%;
    }
    .project-showing{
        text-align: center;
    }
    .project-view-container{
        margin-top: 2rem;
    }
    .images-container img{
        width: 95%;
    }
    .project-view-container-sub-img{
        width: 90%;
    }
    .project-view-container-sub{
        flex-direction: column;
        width: 100%;
    }
    .project-content-links{
        width: 80%;
        margin: 1rem auto;
    }
    .about-content{
        width: 98%;
    }
    .edu-btech,.edu-diploma,.edu-ssc{
        width: 20rem;
        height: 30rem;
        margin: 2rem 0rem
    }
    .certificates-showing{
        text-align: center;
    }
    .certificate-card{
        width: 20rem;
    }
    .resume-container{
        width: 100%;
    }
    .resume-pic{
        width: 95%;
        margin: 1rem auto;
    }
    .top-button{
        right: 1rem;
        bottom: 1rem;
    }
}